*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: green;
  font-family: Arial;
  font-size: 30px;
  margin: 80px;
}

h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 80px;
}

p{
  margin: 20px;
}

.first{
  color: red;
  font-family: monospace;
  margin-bottom: 20px;
}

.second{
  color: yellow;
}

#your-name {
  background-color: yellow;
  border: 5px solid black;
  width: 400px;
  padding: 20px;
  margin-top: 200px;
}

input,button{
  padding: 20px;
  font-size: 10px;
}

#your-name p{
  color: pink;
}
